{% extends "base.html" %}

{% block title %}{{ title }} | Warehouse MVC{% endblock %}

{% block content %}
    <section class="hero">
        <h1>{{ title }}</h1>
        <p>Форма редактирования данных.</p>
    </section>

    <section class="form-wrap" style="max-width: 760px; margin: 0 auto;">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="form-actions">
                <button type="submit">Сохранить</button>

                {% if cancel_kwargs %}
                    <a class="btn secondary" href="{% url cancel_url cancel_kwargs.pk %}">Отмена</a>
                {% else %}
                    <a class="btn secondary" href="{% url cancel_url %}">Отмена</a>
                {% endif %}
            </div>
        </form>
    </section>
{% endblock %}